<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dva Demo</title>
  <% if (process.env.NODE_ENV === 'development') { %>
    <script>
      Blob = void 0
    </script>
    <% } %>
</head>

<body>
  <div id="root"></div>
  <% if (process.env.NODE_ENV === 'development') { %>
    <iframe src="about:blank" style="display: none"></iframe>
    <% } %>
</body>

</html>